.text-center{
    text-align: center;
}
.bg-white{
    color: #fff;
}
.bg-black{
    background-color: #201e1e;
}
.mx-auto{
    margin: auto;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}
.equal-btn{
    background-color: #fb5902f4;
}